body {
    background-image: url(/img/3156605.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-rows: 20% 80%;
    margin: 0;
    text-align: center;
    height: 100vh;
}
.title {
    display: grid;
    font-family: Oxygen;
    font-size: 20px;
    align-content: center;
    color: white;
}
.body {
    font-family: Roboto;
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}