#background {
    background-image: url(img/3156605.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3, h4, p {
    font-family: Oxygen;
}
.text-uppercase {
    font-size: 10px;
}
.result {
    margin-top: 50vh; 
    color: white; 
    font-family: Roboto;
    font-size: 20px;
}